header {
    margin-bottom: 1rem;
}

.carousel-caption {
    background: hsl(0 0% 0%/0.4);
    left: 0;
    right: 0;
    bottom: 0;
}

::ng-deep .carousel-indicators {
    bottom: -12px;
}

::ng-deep .carousel-control-next, .carousel-control-prev {
    z-index: 11 ;
}

.articon {
    padding-left: 0;
}

.imges {
    height: 500px;
}

.carousel-h {
    font-size: 4vmin;
}

.counter::ng-deep .ngx-pagination {
    margin-top: 2vw;
}

.counter::ng-deep .ngx-pagination .current {
    background: black !important;
    border-radius: 50%;
}

.counter::ng-deep .ngx-pagination .next-page {
    background: black !important;
}

::ng-deep .carousel-item {
    transition: 0.6s;
}

.arti {
    margin: 1rem;
    display: flex;
    align-items: flex-end;
}

.photo{
    border-radius: 10px;
}

.overlay {
    color:white;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    bottom: 0;
    background: hsl(0 0% 0%/0.4);
}

.card{
    border-radius: 10px;
    background: #fff;
    transition: .8s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.8s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.line {
    position: relative;
    background: black;
    bottom: 0.8rem;
    height: 3px;
    border-radius: 14px;
    transition: all .2s ease-out;

}
.new {
    position: relative;
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width:1199px) {
    .imges{
        height:400px;
    }
}

@media (max-width:991px){
    .imges {
        height: 300px;
    }

    .title {
        font-size:20px;
    }
}

@media (max-width:767px){
    .imges {
        height: 50vw;
        max-height: 300px;
    }
}


