<!--div class="container" innerHTML="{{articleHTML}}">
    </div-->
    <header>
        <div class="container slids">
            <div class="col-12 col-md-9 sl">
                <ngb-carousel 
                 [animation]="true">
                    <ng-template class="slide" ngbSlide *ngFor="let article of carousel_art; let i = index " >
                        <a [routerLink]="['/article/' + article.id + '/' + article.title]">
                            <img style="width: 100%;" [src]="article.photo" alt="Random slide" class="imges">
                            <div class="carousel-caption">
                                <h3 class="carousel-h">{{article.title}}</h3>
                            </div>
                        </a>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </header>

    <div class=container>
        <div class="row">
            <div class="col-md-5">
                <h3 class="new">What's new</h3>
                <hr class="line">
            </div>
        </div>
    </div>

    <div class="container articon">
        <div class="row justify-content-start">
            <div class="col-md-4 col-md-4 arti"  *ngFor="let article of all_art | paginate: { itemsPerPage: 8, currentPage: p }">
                <a [routerLink]="['/article/' + article.id + '/' + article.title]" style="color: inherit;">
                    <div class="card">
                        <img class="card-img img-fluid photo" [src]="article.photo">
                        <div class="card-image-overlay col overlay">
                            <h4 class="title">{{article.title}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{article.date | date:'d M Y'}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container">
                <div class="row justify-content-start">
                    <pagination-controls class="counter" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>

        </div>
    </div>

