body {
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 3;
}

.btn-logout {
    margin:1rem;
}

#sidebar-wrapper {
    padding-top: 3rem;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position:fixed;
    display: inline-block;
    z-index: 2;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}


#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media screen and (min-width: 1011px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        width: 100%;
    }
    .show
    {
        margin-left: 0!important;
    }
    .hide
    {
        margin-left: -15rem!important;
    }
}
@media screen and (max-width: 1010px) {
    #page-content-wrapper {
        width: 100%;
    }
    .show
    {
        margin-left: -15rem!important;
    }
    .hide
    {
        margin-left: -0!important;
    }
}
