<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
        <div class="sidebar-heading">Sons of Football Admin</div>
        <div class="list-group list-group-flush">
            <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">Home</a>
            <a [routerLink]="['/addarticle']" class="list-group-item list-group-item-action bg-light">Add Article</a>

            <button type="button" class="btn btn-danger btn-logout" (click)="Logout()">Log out</button>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">
                <span class="navbar-toggler-icon" (click)="clickEvent()"></span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                        </li>
                        </ul--!>
                        <!--form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="button">Search</button>
                            </form-->
                </div>
            </div>
        </nav>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
