.navbar {
    background-color: black;
    color: black;
    width: 100%;
    height: 120px;
    position: relative;
    margin-bottom: 8rem;
}

.navbarlinks {
    bottom: 40px;
    height:60px;
    margin-bottom: 0;
}

.nav-link {
    color: white !important;
}

.description {
    font-size: 14px;
}

.nav-top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

.navbar-nav {
    flex-direction: row;
}

.activeitem {
    font-weight: bold;
}

.nav-item {
    padding-left: 30px;
    color: white;
}

.fa {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.social{
    justify-content: flex-end;
}

.social1 {
    position: relative;
    justify-content: flex-end;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: black;
    width:50px;
    border-radius: 50%;
}

.fa-twitter {
    background: white;
    color: black;
    border-radius: 100%;
}

.logoimg {
    width: 12rem;
    height: auto;
    border-radius: 50%;
    display: flex;
    background-color: black;
    position: relative;
    top: 130px;
}

.titleimg {
    width: 18rem;
    height: auto;
    position: absolute;
    left:2vw;
    top: 30px;
}

.logo {
    border-radius: 50%;
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
}

#sidebar-wrapper {
    padding-right: 1rem;
    min-height: 100vh;
    margin-right: -15rem;
    right: 0;
    position: absolute;
    padding-top : 5rem;
    display: inline-block;
    z-index: 1;
}

#sidebar-wrapper .list-group {
    width: 20rem;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.facebook {
    margin-top: 2rem;
    padding-top : 25rem;
    z-index: 100;

}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid black;
}

.separator:not(:empty)::before {
    margin-right: .45em;
}

.separator:not(:empty)::after {
    margin-left: .45em;
}


@media (max-width: 1385px){
    .logo {
    }
}

@media (max-width: 991px){
    .titleimg {
        width: 12rem;
        top:10px;
    }

    .logoimg {
        width: 10rem;
        top: 80px;
    }


    .social1 {
        top: -20px;
    }
}

@media (max-width: 910px) {
    #sidebar-wrapper {
        width: 0;
        display: none;
    }
    .show
    {
        margin-right: -15rem!important;
    }
    .hide
    {
        margin-right: -0!important;
    }
}

@media (min-width: 811px) {
    #sidebar-wrapper {
        margin-right: 0;
    }

    #page-content-wrapper {
        width: 100%;
    }
    .show
    {
        margin-right: 0!important;
    }
    .hide
    {
        margin-right: -15rem!important;
    }
}

@media (max-width: 767px){
    .logoimg{}
}

@media (max-width: 527px){
    .titleimg {
        top: -10px;
        left: -30px;
    }
}

@media (max-width: 451px){
    .titleimg {
        width: 10rem;
    }

    .navbar {
        height: 140px;
    }

    .navbarlinks {
        height: initial;
    }

    .logoimg {
        width: 9rem;
        top: 100px;
    }

    .social1 {
        top: 0.5px;
        flex-direction: column;
    }
}




