<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--nav class="navbar navbar-expand-lg navbar-light navi">
    </nav-->

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-top">
            <img class="titleimg" src="../assets/title.png" alt="sons of football">
            <a href="#" class="logo">
                <img class="logoimg" src="../assets/logo.jpg" alt="sons of football">
                <!--ul class="navbar-nav">
                    <li class="nav-item i1">
                    <a class="">Home</a>
                    </li>
                    <li class="nav-item i2">
                    <a class="">About Us</a>
                    </li>
                    <li class="nav-item i3">
                    <a class="">Categories</a>
                    </li>
                    </ul-->
            </a>
            <div class="container social">
                <div class="row social1">
                    <a href="https://www.facebook.com/Sons-of-Football-589273554537366/" target="_blank" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
    </nav>

    <div id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
        <div class="list-group list-group-flush">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-11 description">
                        <div class="separator"><h1 class="header">Sons of Football</h1></div>
                        <p class="description">Οι Γιοι του Ποδοσφαίρου αποτελούν μία ομάδα ατόμων που συμβαδίζουν με τον κόσμο του αθλήματος. Εμπνευσμένοι από το τόπι, την κάθετη πάσα και το σλάλομ στο χορτάρι, αρθρογραφούν και αναλύουν σε βάθος για τις αγαπημένες τους ομάδες, τους πρωταγωνιστές, αλλά και τις αξιοσημείωτες ιστορίες που μας προσφέρει το ποδόσφαιρο.</p>
                        <div class="separator"></div>
                    </div>
                    <div class="col-md-11 article">
                    </div>
                    <div class="col-md-11 facebook">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSons-of-Football-589273554537366%2F&tabs=timeline&width=270&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=701413297689036" width="270" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        <!--div class="fb-page" data-href="https://www.facebook.com/Sons-of-Football-589273554537366/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Sons-of-Football-589273554537366/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Sons-of-Football-589273554537366/">Sons of Football</a></blockquote></div-->
                </div>
            </div>
        </div>
    </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light navbarlinks">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item i1">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activeitem']">Home</a>
            </li>
            <li class="nav-item i2">
                <a class="nav-link" [routerLink]="['/about-us']" [routerLinkActive]="['activeitem']">About Us</a>
            </li>
            <li class="nav-item i3">
                <a class="nav-link" [routerLink]="['/cat']" [routerLinkActive]="['activeitem']">Categories</a>
            </li>
        </ul>
    </nav>

