<app-sidebar></app-sidebar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <div class="md-form">
                <input mdbInput type="text" name="text" [(ngModel)]="title" id="form1" class="form-control" [value]="title">
            </div>
        </div>
    </div>
</div>
<ngx-editorjs #ngxEditorJS [holder]="editor" class="edi"></ngx-editorjs>
<div class="col text-center but">
    <button (click)="onSave()" class="btn btn-primary btn-save">Save Article</button>
</div>
