<div class="container" >
    <div class="row justify-content-start">
        <div class="col-12 col-md-9 head">
            <title>{{title}}</title>
            <meta name="image" content={{photo}}>
            <h2 class="title">{{title}}</h2>
            <h6 class="mb-2 text-muted">{{date | date:'d.M.Y'}}</h6>

            <hr class="line">
        </div>
        <div class="col-12 col-md-9 article" align="center" [innerHTML]="articleHTML | safe: 'html'">

        </div>
    </div>
    
    <h3 class="share">Share</h3>
<div class="row justify-content-start">
        <div class="col-1">
            <hr class="line">
        </div>
    </div>
    <share-buttons theme="circles-dark"
                   [include]="['copy', 'facebook']"
                   [showIcon]="true"
                   [showText]="false"
                   url={{href}}
                   class="pt-5">
    </share-buttons>
    <div class="row justify-content-start">
        <div class="col-12 col-md-9">
            <hr class="line">
        </div>
    </div>
</div>

