.article {
    word-break: keep-all;
}

.head {
    
}

.title {
    font-weight: bold;
}

.line {
    border-radius: 12px;
    height: 3px;
    background: black;
}

::ng-deep .sb-facebook {
    background-color: #0366fc !important;
}

::ng-deep .sb-copy {
    background-color: #828282 !important;
}

.pt-5 {
    position: relative;
    bottom: 40px;
    margin-bottom: -30px;
}

.share {
    position: relative;
    top: 20px;
    font-weight: bold;
}
