.footer-bottom {
    margin-top:1rem;
    margin-bottom:1rem;

}

.footer-top {
    margin-top: 8rem;
    background-color: black;
    color: black;
    height: 13rem;
    width: 100%;
}

.logo {
    border-radius: 100%;
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;

    display: block;
}

.logoimg {
    border-radius: 100%;
    width: 12rem;

    height: auto;
}

.titleimg {
    position: absolute;
    left: 8vw;
    width: 20rem;
    height: auto;
}
@media (max-width: 800px) {
    .titleimg {
        display: none;
    }

}


.fa-facebook {
    background: white;
    color: black;
    width:50px;
    border-radius: 50%;
}

.fa-twitter {
    background: white;
    color: black;
    border-radius: 100%;
}

.social {
    justify-content: center;
    position: relative;
    bottom: 5rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}
