<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<footer>
    <div class="footer-top">
        <div class=container>
            <div class="row">
                <img class="titleimg" src="../assets/title.jpg" alt="sof">
                <a href="#" class="logo">
                    <img class="logoimg" src="../assets/logo.jpg" alt="sof">
                </a>

            </div>
            <div class="row social">

                <a href="https://www.facebook.com/Sons-of-Football-589273554537366/" target="_blank" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">Sons of Football © 2021 Copyright</div>
</footer>

