.arti {
    padding-bottom: 1rem;
    margin-top: 3rem;
    left: 7vw;
}

@media (max-width: 910px) {

    .arti {
        left: 1vw;
    }
 
}

.cards {
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

#basic-addon1 {
    float: right;
    border-radius: 50%;
    
}

