<app-sidebar></app-sidebar>

<div class="container">
    <div class="row">
        <article class="col-md-4 arti" *ngFor="let article of all_art | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="card cards" *ngIf="article.id">
                <img class="card-img-top" [src]="article.photo">
                <div class="card-body">
                    <h2 class="card-title">{{article.title}}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.date | date:'d M Y'}}</h6>
                    <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
                    <a [routerLink]="['/edit/' + article.id]" class="btn btn-info ">Edit
                        <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                        </svg>
                    </a>
                    <button class="btn-danger btn" id="basic-addon1" (click)="DeleteArticle(article.id)">&times;</button>
                </div>
            </div>
        </article>
        <div class="container">
            <div class="row justify-content-center">
                <pagination-controls class="counter" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
