<div class="sidenav">
    <div class="container">
        <div class="col a">
    <div class="login-main-text">
        <img class="logoimg" src="assets/logo.jpg" alt="sof">
        <h2 class="head">Sons Of Football<br> Admin Page</h2>
        <p>Login from here to access your Articles.</p>
    </div>
        </div>
    </div>
</div>
<div class="main">

    <div class="col-md-6 col-sm-12">
<div class="container">
        <div class="col a">
        <img class="titleimg" src="assets/title.jpg" alt="sof">
        </div>
</div>
        <div class="login-form">
            <form action="#">
                <div class="form-group">
                    <label>Username</label>
                    <input type="username" class="form-control" [(ngModel)]="Username" [ngModelOptions]="{standalone: true}" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" [(ngModel)]="Passw" [ngModelOptions]="{standalone: true}" placeholder="Password">
                </div>
                <button (click)="log_in()" type="submit" class="btn btn-black" >Login</button>
            </form>
            <br>
        </div>
    </div>
</div>
